@font-face {
  font-family: "Helvetica Neue Regular";
  font-style: normal;
  src: url(./fonts/HelveticaNeue-01.woff2)
    format("woff2"), url(./fonts/HelveticaNeue-01.woff)
    format("woff");
}
@font-face {
  font-family: "Helvetica Neue Bold";
  font-style: normal;
  src: url(./fonts/HelveticaNeue-Bold-02.woff)
    format("woff");
}
@font-face {
  font-family: "Helvetica Neue Condensed Black";
  font-style: normal;
  src: url(./fonts/HelveticaNeue-CondensedBlack-10.woff)
    format("woff");
}
@font-face {
  font-family: "Helvetica Neue Light";
  font-style: normal;
  src: url(./fonts/HelveticaNeue-Light-08.woff)
    format("woff");
}