@font-face {
  font-family: "Helvetica Neue Regular";
  font-style: normal;
  src: url(./fonts/HelveticaNeue-01.ttf)
    format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Bold";
  font-style: normal;
  src: url(./fonts/HelveticaNeue-Bold-02.ttf)
    format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Condensed Black";
  font-style: normal;
  src: url(./fonts/HelveticaNeue-CondensedBlack-10.ttf)
    format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Light";
  font-style: normal;
  src: url(./fonts/HelveticaNeue-Light-08.ttf)
    format("truetype");
}
@font-face {
  font-family: "Helvetica Neue Medium";
  font-style: normal;
  src: url(./fonts/HelveticaNeue-Medium-11.ttf)
    format("truetype");
}