/** TYPOGRPAHY */
$fontRegular: "Helvetica Neue Regular";
$fontBold: "Helvetica Neue Bold";
$fontExtraBold: "Helvetica Neue Condensed Black";
$fontLight: "Helvetica Neue Light";

$fontSizeBase: 1rem;
$fontSizeMid: 1.3rem;
$fontSizeLarge: 1.618rem;
$fontSizeXLarge: 1.618 * $fontSizeLarge;
$fontSizeXXLarge: 1.618 * $fontSizeXLarge;
$fontSizeSmall: 0.6180rem;
$fontSizeXSmall: $fontSizeSmall / 1.618;

/** COLORS */
$colorBackground: #FFFCF6;
$colorBlack: #000;
$colorYellow: #E5A139;
$colorDarkGrey: #707070;
$colorLightGrey: #ccc;
$colorMidGrey: #777;
$colorDarkBlue: #0039A6;
$boxShadow: 0px 3px 6px -3px $colorMidGrey;

/** SPACING/MARGINS/PADDING */
$maxTextWidth: 20rem;
$controlBarHeight: 100px;
$thickBorderWidth: 8px;

/** TRANSITIONS */
$durationOpacity: 500ms;
$durationMovement: 1000ms;
@keyframes fade-in {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

:export {
  durationOpacity: $durationOpacity;
  durationMovement: $durationMovement;
  controlBarHeight: $controlBarHeight;
}