/** TYPOGRPAHY */
$fontRegular: "Helvetica Neue Regular";
$fontBold: "Helvetica Neue Bold";
$fontExtraBold: "Helvetica Neue Condensed Black";
$fontLight: "Helvetica Neue Light";
$fontThin: "Helvetica Neue Thin";
$fontMedium: "Helvetica Neue Medium";

$fontSizeBase: 1em;
$fontSizeMid: 1.3rem;
$fontSizeLarge: 1.618rem;
$fontSizeXLarge: 1.618 * $fontSizeLarge;
$fontSizeXXLarge: 1.618 * $fontSizeXLarge;
$fontSizeSmall: 0.6180rem;
$fontSizeXSmall: $fontSizeSmall / 1.618;

/** COLORS */
$colorBackground: #FFFCF6;
$colorBlack: #000;
$colorYellow: #E5A139;
$colorDarkGrey: #707070;
$colorLightGrey: #ccc;

/** SPACING/MARGINS/PADDING */
$maxTextWidth: 20rem;

/** TRANSITIONS */
$durationOpacity: 500ms;
$durationMovement: 1000ms;
@keyframes fade-in {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

:export {
  durationOpacity: $durationOpacity;
  durationMovement: $durationMovement;
}