# system
.DS_Store
.vscode

# Juptiter notebook checkpoints
*_checkpoints

# Turnstile data
/*
!/data
/data/*
# include the data/README file
!/data/README.md


# QGIS Files
*.qgz

# Design
*.xd
design/

# App
node_modules/
