@import "../../styling/variables";

.moving-map{

  .map, .lines, .ntas{
    opacity: 0;
    transition: opacity $durationOpacity;

    &.visible{
      opacity: 1;
    }
    path{
      fill: #eee;
      // fill: transparent;
      stroke: $colorLightGrey;
      stroke-width: .5px;
    }

    &.outline path{
      stroke-width: .25px;
    }

    &.lines{
      path{
        stroke: $colorBlack;
        stroke-width: 1px;
      }
    }
  }

  .selected-ntas{
    stroke: $colorBlack;
    transition: opacity $durationOpacity;
    opacity: 0;

    &.visible{
      opacity: 1;
    }

  }

  .stations{
  opacity: 0;
  transition: opacity $durationOpacity;

  .station{
    transition: transform $durationMovement;
    cursor: pointer;

    text{
      visibility: hidden;
      text-anchor: middle;
      pointer-events: none;
      text-transform: uppercase;
      font-size: $fontSizeSmall;
      font-family: $fontRegular;
      fill: $colorDarkGrey;
    }

    circle{
      transition: transform $durationOpacity;
      stroke: white;
      stroke-width: .5;
    }

    &:not(.allow-pointer){
      pointer-events: none;
    }

    &:hover{
      text{
          visibility: visible;
        }

        circle{
         stroke: $colorBlack;
        }
      }
    }

    &.visible{
      opacity: 1;
    }
  }

  .annotations{
    .annotation{
      stroke: $colorMidGrey;
      transition: transform $durationMovement;
    }
  }

  .overlay{
    position:absolute;

    .annotation-label{
      color: $colorMidGrey;
      font-size: $fontSizeSmall;
      position: absolute;
      transition: transform $durationMovement;
      max-width: 7em;

      &.y{
        text-align: right;
      }
    }

    .color-legend{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .x, .y{
    opacity: 0;
    transition: opacity $durationOpacity;
    &.visible{
      opacity: 1;
    }
  }
}

