@import "../../styling/variables";

.moving-map {
  position: relative;

  svg {
    position: relative;
    .map,
    .lines,
    .ntas {
      opacity: 0;
      transition: opacity $durationOpacity;

      &.visible {
        opacity: 1;
      }
      path {
        fill: #eee;
        stroke: $colorLightGrey;
        stroke-width: 0.5px;

        &.active{
          stroke: black;
          stroke-width: 3px;
        }
      }

      &.outline path {
        stroke-width: 0.25px;
      }

      &.lines {
        path {
          stroke: $colorBlack;
          stroke-width: 1px;
          fill: none;
        }
      }
    }

    .selected-ntas {
      stroke: $colorBlack;
      transition: opacity $durationOpacity;
      opacity: 0;

      &.visible {
        opacity: 1;
      }
    }

    .stations {

      .station {
        opacity: 0;
        transition: transform $durationMovement;
        cursor: pointer;

        circle {
          transition: transform $durationOpacity;
          stroke: white;
          stroke-width: 0.5;
        }

        &:hover {
          text {
            visibility: visible;
          }

          circle {
            stroke: $colorBlack;
          }
        }
      }

      &.visible {
        .station {
          &:not(.highlight){
            opacity: 0.4;
            fill: $colorLightGrey;
            pointer-events: none;
          }

          &.highlight, &:hover {
            opacity: 1;
          }

        }
      }
    }
  }
  .annotations {
    .annotation {
      stroke: $colorMidGrey;
      transition: transform $durationMovement;
    }
  }

  .overlay {
    position: absolute;
    opacity: 0;
    overflow: hidden;

    &.visible {
      opacity: 1;
    }

    .annotation-label {
      color: $colorMidGrey;
      font-size: $fontSizeSmall;
      position: absolute;
      transition: transform $durationMovement;
      max-width: 7em;
      padding-left: 0.5em;

      &.y {
        text-align: right;
      }
    }

    .color-legend {
      position: absolute;
      right: 0;
      bottom: 2em;
    }
  }

  .x,
  .y {
    opacity: 0;
    transition: opacity $durationOpacity;
    &.visible {
      opacity: 1;
    }
  }

  .nta-annotation {
    position: absolute;
    width: 175px;
    padding: 1em;
    opacity: 0;
    transition: opacity 0 0;

    &.visible {
      transition: opacity $durationOpacity $durationMovement;
      opacity: 1;
    }

    .name {
      font-family: $fontExtraBold;
      font-size: $fontSizeBase;
    }

    .stat {
      font-size: $fontSizeSmall;
      .key {
        font-family: $fontMedium;
      }
      .value {
        font-family: $fontLight;
      }
    }
  }

  .Tooltip {
    .station-name {
      font-family: $fontBold;
    }
  }
}
