@import "./styling/variables";

body{
  font-family: $fontRegular;
  background-color: $colorBackground;
}

#app{
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;

  *{
    box-sizing: border-box;
  }
}

section#intro{
  height: 100vh;
  display: flex;
  align-items: center;

  h1{
    margin: 0;
  }
}

.section {
  position: relative;
}

.section-header{
  max-width: 40rem;
  background-color: $colorBackground;
}

.sticky{
  position: sticky;
  display: flex;
  flex-direction: column;

  .graphic{
    width: 100%;
    height: 100%;
    position:relative;

    .overlay{
      position: absolute;
      top:0;
      left:0;
    }
  }
}

.article{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  //  margin: 0 auto; // uncomment to center

  .step{
    max-width: $maxTextWidth;
    position: relative;
    min-height: 500px;
    transition: opacity 500ms;
    opacity: 0;
    pointer-events: none;

    &.active{
      opacity: 1;
    }
  }
}

/** DEFAULT ELEMENTS */

h1{
  font-family: $fontBold;
  font-size: $fontSizeXXLarge;
  max-width: $maxTextWidth;
}

h2{
  font-family: $fontBold;
  font-size: $fontSizeXLarge;
  max-width: $maxTextWidth;
}

.axis{
  text.label{
    text-anchor: middle;
    fill: $colorBlack;
    text-transform: uppercase;
  }
}
// for annotations and axes labels
// use divs for these for better text formatting options
.overlay{
  width: 100%;
  div.axis-label{
    font-size: $fontSizeSmall;
    position: absolute;
    top: 0;
    transform-origin: center;
    width: max-content;
    padding: 2em 0;
    box-sizing: border-box;

    &.no-wrap{
      white-space: nowrap;
    }
  }
}