@import "./styling/variables";

body{
  font-family: $fontRegular;
  background-color: $colorBackground;
  -webkit-font-smoothing: antialiased;
  margin: 0;

}

#app{
  padding: 1rem;
  max-width: 700px;
  margin: 0 auto;
  width: 100vw;
  box-sizing: border-box;

  *{
    box-sizing: border-box;
  }
}

/** DEFAULT ELEMENTS */

h1{
  font-family: $fontBold;
  font-size: $fontSizeXXLarge;
  // max-width: 40rem;
}

h2{
  font-family: $fontBold;
  font-size: $fontSizeXLarge;
  // max-width: $maxTextWidth;
}

.axis{
  color: $colorMidGrey;

  text.label{
    text-anchor: middle;
    fill: $colorBlack;
    text-transform: uppercase;
  }
  path, line{
    stroke: $colorMidGrey;
    stroke-width: .25px;
  }
}
// for annotations and axes labels
// use divs for these for better text formatting options
.overlay{
  width: 100%;
  pointer-events: none;
  div.axis-label, div.axis-title{
    font-size: $fontSizeSmall;
    position: absolute;
    top: 0;
    transform-origin: center;
    width: max-content;
    padding-bottom: 1em;
    box-sizing: border-box;

    &.no-wrap{
      white-space: nowrap;
    }
  }
}

.label{
  font-size:$fontSizeSmall;
  font-family: $fontLight;
}

.active em{ // emphasis
  // animation: fadeToYellow $durationMovement  $durationOpacity 1 forwards;
}

@keyframes fadeToYellow{
  to{
    color: $colorYellow;
  }
}

@media (max-width: 480px) {

}