
@import "../../styling/variables";

.color-legend{
  font-family: $fontLight;
  font-size: $fontSizeSmall;
  color: $colorMidGrey;

  .title{
    font-family: $fontRegular;
    line-height: 1.5em;
  }

  svg{
    overflow: visible;
    .tick {
      transition: transform 200ms;
      path{
        stroke: $colorMidGrey;
      }

      text{
        text-anchor: middle;
        font-size: $fontSizeSmall;
        fill: $colorMidGrey;
      }
    }
  }
}