@import "../../styling/variables";

section#section-title{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17vmin; // dynamic with the width of the screen

  h1{
    margin: 0;
    font-size: inherit; // dynamic with the width of the screen
    line-height: 1em;
  }

  h3{
    font-size: .3em;
    line-height: 1em;
  }
}
