@import "../../styling/variables";

section#section-title {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: min(9rem, 17vmin); // dynamic with the width of the screen
  cursor: default;
  color: $colorBackground;

  .title {
    cursor: default;
    margin: 0;
    font-size: inherit; // dynamic with the width of the screen
    line-height: 1em;
  }

  h3 {
    cursor: default;
    font-size: 0.3em;
    line-height: 1em;
    margin: 0.25rem;
  }

  .by-line {
    display: inline;
    font-size: $fontSizeBase;
    z-index: 2;
    margin: 0.25rem;

    a {
      color: inherit;
      font-family: $fontBold;
      text-decoration: none;
      cursor: pointer;
    }

    .two-n {
      position: relative;
      transform: translateY(25%);
      display: inline-flex;
      width: 2em;
      height: 2em;
      background: no-repeat center/contain url("../../assets/logo.png");
    }
  }

  .arrow {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    height: 15vmin;
    max-height: 100px;
    transform: translateX(-50%);
    z-index: 3;

    svg {
      cursor: pointer;
      fill: $colorBackground;
      animation: scale $durationMovement 17s 2;
      height: 100%;

      &:hover{
        transform: scale(1.1);
      }

    }

  }
}

.title-video {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;

  video {
    position: absolute;
    min-width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .overlay {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(-25%, -50%);
    opacity: 0.5;
    background-color: $colorYellow;
    z-index: 1;
    mix-blend-mode: color-dodge;
    border-bottom: 2px black solid;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
