@import "../../styling/variables";

#controls{
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 1em 2em;
  margin: 0 auto;
  width: 90%;
  max-width: inherit;
  height: $controlBarHeight;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 0px 1px 9px 1px $colorLightGrey ;
  background-color: $colorBackground;
  transform: translateY(100%) translateX(-50%); // take out of view
  // transform: translateX(-50%); // take out of view
  transition: transform $durationMovement;

  &.visible{
    transform: translateY(-1em) translateX(-50%); // take out of view

  }

  .Input{
    width: 40%;
  }

  .filterTimeline{
    flex-basis: 100%;
    padding: 1em 0;
  }

}