@import "../../styling/variables";

#controls{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em 2em;
  width: 100%;
  height: $controlBarHeight;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 1em;
  row-gap: 1em;
  justify-items: center;
  border-radius: 15px;
  box-shadow: 0px 1px 9px 1px $colorLightGrey ;
  background-color: $colorBackground;
  transform: translateY(100%); // take out of view
  transition: transform $durationMovement;

  &.visible{
    transform: translateY(0); // take out of view

  }

  .filter.timeline{
    grid-column: 1/3;
  }

}