@import "../../styling/variables.scss";

section.section {
  position: relative;

  .sticky {
    position: sticky;
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;

    .section-header {
      opacity: 0;
      transition: opacity $durationOpacity;
      width: 100%;
      font-family: $fontLight;
      font-size: $fontSizeBase;
      height: 4em;
      flex-shrink: 0; // don't collapse when text empty
      font-weight: unset;
      padding: 0 1em 1em 1em;
      display: flex;
      align-items: center;

      &.fade-in {
        opacity: 1;
      }
    }

    .graphic {
      width: 100%;
      height: 100%;
      // flex: 1;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    .step {
      // border: $colorYellow 2px solid;
      width: 100%;
      pointer-events: none;
      min-height: 500px;
      margin-bottom: 100vh; // used to add some space for transitions between steps

      .text {
        width: max-content;
        max-width: 100%;
        position: sticky;
        top: 1em;
        padding: 1em;
        margin: 0 auto;
        font-family: $fontLight;
        font-size: $fontSizeBase;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}
